extends ../layout

block hero-unit
    img.img-rounded.img-responsive(src=room.images, id = "TOPIMG")
block content
    .container
      .row
        .col-md-8
          h1=room.title
          include ../include/detail-main
          include ../include/commend
        .col-md-4.side
          include ../include/detail-side