extends ../layout

block content
  h2.page-header 호스팅 하기
  .container 
      .row
          .col-md-4
            .thumbnail
                img(src='/images/host1.PNG', alt='IMG')
                |           
                .caption
                  p
                    h3
                        b 여분의 공간을 호스팅하세요 
                  p 산 속의 오두막집, 남는 방 등 회원님의 공간에 게스트를 맞이하고 수입을 누리세요.
                  p
                    a.btn.btn-primary(href='/rooms/hosting', role='button') Hosting
          .col-md-4
            .thumbnail
                img(src='/images/host2.PNG', alt='IMG')
                |           
                .caption
                  p
                    h3
                        b 이웃을 위해 호스팅을 제공하세요
                  p 호스팅을 할 여유공간이 없으세요? 지역 공동 호스트가 되어 다른 사람의 숙소를 대신 호스팅하며 수입을 올릴 수 있습니다.
                  p
                    a.btn.btn-primary(href='#', role='button') None  
          .col-md-4
            .thumbnail
                img(src='/images/host3.PNG', alt='IMG')
                |           
                .caption
                  p
                    h3
                        b 특별한 트립을 호스팅하세요
                  p 여행객을 위한 트립을 주최하고 회원님의 열정과 전문성 또는 회원님 지역만의 개성을 공유하세요.
                  p
                    a.btn.btn-primary(href='#', role='button') None    
block contentdetail
    h2.page-header 호스팅의 장점                    
    .container
        .row
            .col-md-4
                p
                    h3
                        b 부가 수입
                p 집 수리에서 꿈꿔온 여행까지, 호스팅 수입으로 진짜 하고 싶은 일을 하세요.
            .col-md-4
                p
                    h3
                        b 호스트 지원
                p 유용한 팁과 필요한 도구를 지원 받고 전 세계 다른 호스트와 교류하세요.
            .col-md-4
                p
                    h3
                        b 유연성
                p
                p 요금, 호스팅 시기 및 빈도 모두 호스트가 전적으로 결정합니다.
            