extends layout

block content
  h2.page-header 숙소리스트
  .container 
      .row
        each room in rooms
          .col-md-4
            .thumbnail
              a(href='/rooms/detail/#{room.id}')
                img.img-rounded.img-responsive(src=room.images, id="IMG")
                |           
                .caption
                  span
                    Strong= room.title
                  span //
                  span= room.city
                  span 에 위치한 집

