doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css') 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=48c9c4a03348e98ed4c0e02d4532b76c&libraries=services')
    script(src='https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js')
  body
    block nav
      include ./include/topnav
    block hero-unit
    if flashMessages
      each texts, type in flashMessages
        .container
          .alert(class='alert-#{type}')
            each msg in texts
              p= msg 
    block content
    block contentdetail