.media
    .media-left
        a(href='#')
          img.media-object(src='/images/person.png', alt='IMG' style="width:64px; height:64px;")
    .media-body
        //- h4.media-heading=ower.name
    h3.page-header 상세설명
    p=room.explain
    h3.page-header 가격
    p=room.pay
    h3.page-header 도시
    p=room.city
    h3.page-header 편의시설
    p=room.facility