extends ../layout

block content
  h2.page-header 회원리스트
  .container 
    table.table.table-bordered
      thead
        tr
          th 사용자
          th 이메일
          th 생성날짜
          th
      tbody
        each user in users
          tr
            td= user.name
            td= user.email
            td= moment(user.createdAt).format('YYYY-MM-DD')
            td
              a.btn.btn-xs.btn-default(href='/users/#{user._id}/clear?_method=DELETE') 삭제