extends ../layout

block content
    ul.nav.nav-tabs.nav-justified
        li.active
            a(data-toggle='tab', href='#profile') 프로필 변경   
        li
            a(data-toggle='tab', href='#books') 예약현황   
        li
            a(data-toggle='tab', href='#hosting') 숙소등록현황  
        li
            a(data-toggle='tab', href='#menu3') 숙소예약요청

    .tab-content
        #profile.tab-pane.fade.in.active
            include ../users/user
        #books.tab-pane.fade    
            include ../users/reservation  
        #hosting.tab-pane.fade
            include ../users/hostingroom
        #menu3.tab-pane.fade
            include ../users/request 